<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <title>Employee information</title>
    <style>
        h1, table{
        text-align: center
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Employee Details</h1>
        <table class="table tabel-striped" border="True">
            <tr>
                <th>Emp ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Location</th>
            </tr>
            {% for emp in employees %}
            <tr>
                <td>{{ emp['EmpID'] }}</td>
                <td>{{ emp['Name'] }}</td>
                <td>{{ emp['Department'] }}</td>
                <td> {{emp['Salary'] }}</td>
                <td>{{ emp['Location'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
<!--    <div class="container">-->
<!--        <input type="button" name="Get Info" onclick="http://localhost:5000/employees">-->
<!--    </div>-->
</body>
</html>