<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <title>My website</title>
    <style>
        h1{
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>List of Products</h1>

        <div>100</div>

        <div>answer = {{answer}}</div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>col 1</th>
                    <th>col 2</th>
                    <th>col 3</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>row 1 col 1</td>
                    <td>row 1 col 2</td>
                    <td>row 1 col 3</td>
                </tr>

                <tr>
                    <td>row 2 col 1</td>
                    <td>row 2 col 2</td>
                    <td>row 2 col 3</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>